<div class="page-header">
  <h1>
    Stays
    <a href="/stays/new" class="btn btn-lg btn-success">New Stay</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Notes</th>
        <th>Visa status</th>
        <th>Reason for stay</th>
        <th>Port of exit</th>
        <th>Port of entry</th>
        <th>Number of days</th>
        <th>Exit date</th>
        <th><%= sort_link(@q, :entry_date, [:entry_date, 'kind DESC'], 'Entry date') %> </th>
        <th>Actions</th>
      </tr>

      <% @stays.each do |stay| %>
      <tr>
        <td><%= stay.user_id %></td>
        <td><%= stay.notes %></td>
        <td><%= stay.visa_status %></td>
        <td><%= stay.reason_for_stay %></td>
        <td><%= stay.port_of_exit %></td>
        <td><%= stay.port_of_entry %></td>
        <td><%= stay.number_of_days %></td>
        <td><%= stay.exit_date %></td>
        <td><%= stay.entry_date %></td>
        <td>
          <a href="/stays/<%= stay.id %>" class="btn btn-primary">Show</a>
          <a href="/stays/<%= stay.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_stay/<%= stay.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
