<div class="page-header">
  <h1>
    <%= current_user.first_name %>'s stays in the US
  </h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Entry date</th>
          <th>Port of entry</th>
          <th>Exit date</th>
          <th>Port of exit</th>
          <th>Number of days</th>
          <th>Visa status</th>
          <th>Reason for stay</th>
        </tr>

        <% @stays.each do |stay| %>
        <tr>
          <td><%= stay.entry_date %></td>
          <td><%= stay.port_of_entry %></td>
          <td><%= stay.exit_date %></td>
          <td><%= stay.port_of_exit %></td>
          <td><%= stay.number_of_days %></td>
          <td><%= stay.visa_status %></td>
          <td><%= stay.reason_for_stay %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
